.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    box-shadow: 0 1px 3px -2px #000;
    margin-bottom: 1px;
    background: white;
}
.nav-logo{
    width: 200px;
}
.nav-profile{
    width: 75px;
}
@media(max-width:800px){
    .navbar{
        padding: 15px 30px;
    }
    .nav-logo{
        width: 150px;
    }
    .nav-profile{
        width: 60px;
    }
}

.nav-profile-container {
    display: flex;
    align-items: center;
  }
  
  .logout-button {
    margin-left: 10px; /* Adjust spacing as needed */
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #ff4d4d; /* A red color for logout */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .logout-button:hover {
    background-color: #e60000; /* Darker shade on hover */
  }
  